.action-link-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.action-link-wrap a {
    background: rgb(0, 36, 90);
    padding: 8px 25px;
    border-radius: 4px;
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s linear;
    cursor: pointer;
    text-decoration: none;
    margin: 1rem 0.5rem 1rem 0.5rem;
}

.action-link-wrap a:hover {
    background: #5A5C6C;
    color: #fff;
}